doctype html
html
  head
    title User Info
    link(href="detail.css", rel="stylesheet", type="text/css", media="screen")
  body
    div(class="wrapper")
      h1 User Info
      div(class="box" id="name")
        span.tag User name
        span#username #{username}
      div(class="box" id="id")
        span.tag ID
        span#id #{id}
      div(class="box" id="phone")
        span.tag Phone number
        span#phone #{phone}
      div(class="box" id="email")
        span.tag E-mail
        span#email #{email}
