doctype html
head
  meta(charset="UTF-8")
  title Sign in
  link(rel="stylesheet", href="index.css", type="text/css", media="screen")
  script(type="text/javascript", src="js/jquery.js")
  script(type="text/javascript", src="js/register.js")
body
  .wrapper
    form#signin(method="post")
      p#title Registration
      .inputBlock
        #name.box
          p.term User name
          input(type="text", name="username", value= user.username)
          #usernameJ.judge
        #id.box
          p.term ID
          input(type="text", name="id", value= user.id)
          #idJ.judge
        #phone.box
          p.term Phone number
          input(type="text", name="phone", value= user.phone)
          #phoneJ.judge
        #email.box
          p.term E-mail
          input(type="text", name="email", value= user.email)
          #emailJ.judge
      .buttonBox
        input#reset(type="button", value="Reset")
        input#submit.notSubmit(type="submit", value="Submit")
       if error
         .errMsg
           p!=error